table th
{
    background-color:wheat;
    margin:0px;
    border-bottom: 2px solid black;
}
table tr:nth-child(even)
{
    background-color:white;
    border-bottom: 2px solid black;
}
table tr:nth-child(odd)
{
    background-color:rgb(157, 155, 155);
}
table tr:hover
{
    background-color:rgb(142, 124, 124);
}
td
{
    border-bottom: 2px solid black;

}